<%- include('partials/header'); -%>
</ul>
</div>
</nav>

<body>
<div class="container">
<div>
  <h1 style="font-size:3.5rem" class="headline">הרצאות מבנה מחשב</h1>
<br>
</div>

<div class="container">
      <div class="card-deck mb-3 text-center">
            <%lectures.forEach(function(lecture){%>


    <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal"> הרצאה <%=lecture.lectureNumber%></h4>
      </div>
      <div class="card-body">
        <h2 class="card-title pricing-card-title"><%=lecture.title%></h2>
        <ul class="list-unstyled mt-3 mb-4">
          <%if (lecture.slides.length > 0){%>
          <li>מצגות:</li>
            <%lecture.slides.forEach(function(slides){%>
              <%if (slides != ""){%>
              <li style="display:inline"><a target="_blank" href=<%="/pdfs/" +slides +".pdf"%>><%=slides%></a></li>
            <%}});}%>
                  </ul>



      <a class="lectureLink" style="padding-right:1rem" href="/lectures/<%=lecture.lectureNumber%>">  <button type="button" class="btn btn-lg btn-block btn-outline-primary"> להרצאה <%=lecture.lectureNumber%> </button></a>
    </div>
    </div>

              <%});%>

    </div>


    </div>


<%- include('partials/footer'); -%>
