<%- include('partials/home_header'); -%>
</ul>
</div>
</nav>

<body>
<div class="container">
<div>
  <h1 class="headline">הרצאות מבנה מחשב</h1>

</div>

<div class="col-md-10 col-sm-8 col-xs-6">
  <%lectures.forEach(function(lecture){%>
  <h1 ><a href="/lectures/<%=lecture.lectureNumber%>"> הרצאה <%=lecture.lectureNumber%></a></h1>
  <div style="padding-right:2rem">
    <h4><%=lecture.title%></h4>
    <%if (lecture.slides != ""){%>
      <a target="_blank" href=<%=lecture.slides%>>מצגות</a>
    <%}%>
  </div>
<br>
  <%});%>

</div>

<%- include('partials/footer'); -%>
