<%- include('partials/header')%>

<% lecture.part.forEach(function(part){%>
<li><a class="partLinks" href=<%-"#part"+ part.number %>>PART <%-part.number%></a></li>
  <%});%>
</ul>
<div class="center">
  <p class="navbar-brand navbar" id="lectureHeadline"  >הרצאה <%- number %></p>
</div>
</div>
</nav>

<body>
<div class="container">

<h1>הרצאה <%- number %></h1>

<% lecture.part.forEach(function(part){%>
  <section id=<%-"part"+ part.number%>>


<h2> חלק <%- part.number%></h2>
<div class="video">

  <iframe width="800" height="450" src=<%-part.link%> frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

<% questions.reverse().forEach(function(question){%>
<%if (question.part === part.number){%>
<div >

  <h2 style="text-align:right;float:right"><%=question.question%></h2>
  <h4 style="text-align:left;float:left;"><%= question.minutes%>:<%=String(question.seconds).padStart(2, '0') %></h4>
  <hr style="clear:both;"/>
  <%question.answer.forEach(function(answer){%>
  <p style= "margin-right:1rem" ><%-answer.text%></p>
  <%})%>



<br>
<h4 ><a href="<%= question.link.replace("embed/","watch?v=").replace("?start","&start")%>" target="_blank">קישור לנקודה בסרטון עליו נשאלה השאלה</a></h4>
<hr>
</div>
<%}%>
    <%});%>

<form action=<%-"/lectures/"+number%> method="post">

  <div class="form-group">
    <input type="hidden" name="lecture" value=<%-lecture.lectureNumber%>>
    <input type="hidden" name="part" value=<%-part.number%>>

      <label >יש לך שאלה שעדיין לא ענו עליה? תשאל אותה כאן והבוט שלנו יעשה את העבודה בשבילך!</label>
      <textarea class="form-control" name="question" rows="2"></textarea>
<br>
      <label>ציין את הזמן המדויק בסרטון עליו נשאלת השאלה:</label>
      <label>דקה</label>
      <input type="number" name="minutes" min="0" max="60" value="0">
      <label>שניה</label>
      <input type="number" name="seconds" min="0" max="60" value="1">
      <input type="hidden" name="link" value=<%-part.link%>>
      <button class="btn btn-primary" style="float:left" dir="ltr" type="submit" name="button">שלח שאלה</button>


  </div>

</form>
  </section>
<% });%>
</div>
<%- include('partials/footer')%>
